* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', serif;
}
.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    align-items: center;
    padding: 24px 145px;
    justify-content: space-between;
}
.header-logo{
    max-width: 150px;
    text-decoration: none;
    display: flex;
}
.header-heading-text{
    margin-left: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
}
.header-menu{
    display: flex;
    list-style-type: none;
    margin-left: auto;
}
.header-choice-a{
    text-decoration: none;
    margin-left: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
}
.header-choice-a-now{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    text-decoration: none;
}
.sign-in-button{
    border: 1px solid #BCD0E5;
    margin-left: 25px;
    padding: 10px 23px;
    border-radius: 4px;
    background: #FFFFFF;
    cursor: pointer;
}
.sign-up-button{
    background: #02897A;
    border-radius: 4px;
    margin-left: 25px;
    padding: 8px 21px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}
.theme-button{
    margin-left: 25px;
    border: none;
    padding: 4px;
    align-items: center;
    background: transparent;
    cursor: pointer;
}
.back-grey{
    background: #E5E5E5;
}
.slide{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.slide-text{
    margin-left: 150px;
    margin-top: 85px;
}
.slide-title{
    max-width: 350px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    color: #22343D;
}
.slide-description{
    max-width: 370px;
    margin-top: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #22343D;
}
.slide-text-footer{
    display: flex;
    margin-top: 45px;
}
.get-started-button{
    background: #02897A;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    padding: 14px 41px;
}
.watch-wideo{
    margin-left: 30px;
    display: flex;
    align-items: center;

}
.watch-wideo-text{
    margin-left: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #02897A;
}
.slide-img{
    margin-left: 35px;
    margin-right: 150px;
    max-width: 600px;
}
.product-specifiety{
    margin-top: 100px;
    background-image: url("../imgs/Bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 90px;
}
.specifiety-heading{
    margin: auto;
    width: 450px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.specifiety-cards{
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;
    display: flex;
    padding: -45px;
}
.specifiety-card{
    width: 240px;
    margin: 45px;
}
.specifiety-icon{
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 16px 19px;
    background: #02897A;
    border-radius: 19px;
}
.specifiety-card-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22343D;
    margin-top: 30px;
}
.specifiety-card-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin-top: 13px;
    width: 190px;
}
.specifiety-icon2{
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 17px ;
    background: #4D8DFF;
    border-radius: 19px;
}
.specifiety-icon3{
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 17px ;
    background: #740A76;
    border-radius: 19px;
}
.specifiety-icon4{
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    padding: 18px ;
    background: #F03E3D;
    border-radius: 19px;
}
.button1{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
}
.management{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
.manegement-text{
    margin-left: 145px;
}
.management-heading3{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #22343D;
    line-height: 8px;
}
.management-heading2{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: #22343D;
    line-height: 8px;
}
.managemeng-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.management-img{
    margin-right: 145px;
}
.customer{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
.customer-img{
    margin-left: 140px;
}
.customer-text{
    margin-right: 135px;
}
.customer-heading3{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 8px;
    color: #22343D;
}
.customer-heading2{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 8px;
    color: #22343D;
    margin-bottom: 23px;
}
.customer-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    width: 400px;
}
.customer-choce{
    display: flex;
    align-items: center;
}
.customer-choce-icon{
    width: 35px;
    height: 35px;
    padding: 11px;
    background: #FF9900;
    border-radius: 13.8542px;
    margin-right: 30px;
}
.customer-choce-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    width: 300px;
}
.customer-choce-icon2{
    background: #F03E3D;
    border-radius: 13.8542px;
    width: 35px;
    height: 35px;
    padding: 11px;
    margin-right: 30px;
}
.customer-choce-icon3{
    background: #4D8DFF;
    border-radius: 13.8542px;
    width: 35px;
    height: 35px;
    padding: 11px;
    margin-right: 30px;
}
.easy-process{
    margin-top: 150px;
    background-image: url("../imgs/Bg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
.quick-easy{
    position: relative;
}
.quick-easy-text{
    margin-top: 50px;
}
.quick-easy-heading{
    margin: auto;
    width: 450px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #22343D;
}
.quick-easy-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    width: 450px;
    margin: auto;
}
.quick-cards{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}
.quick-easy-card-left-img{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.quick-easy-card-img{
    width: 98px;
    height: 98px;
    overflow: hidden;
    border: 3px solid #FF0909;
    border-radius: 50%;
    margin-right: 15px;
}
.easy-img{
    left: 0;
    top: 0;
    height: 100%;
}
.quick-easy-card-text{
    background: url("../imgs/Combined Shape left img.png");
    background-repeat: no-repeat;
    width: 275px;
    height: 60px;
    margin-right: 15px;
}
.quick-easy-card-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
    text-align: center;
}
.quick-easy-card-text-left{
    background: url("../imgs/Combined Shape right image.png");
    background-repeat: no-repeat;
    width: 275px;
    height: 60px;
    padding-left: 25px;
    margin-right: 15px;
}
.quick-easy-card-img2{
    width: 98px;
    height: 98px;
    overflow: hidden;
    border: 3px solid #02897A;
    border-radius: 50%;
    margin-right: 15px;
}
.quick-easy-card-img3{
    width: 98px;
    height: 98px;
    overflow: hidden;
    border: 3px solid #740A76;
    border-radius: 50%;
    margin-right: 15px;
}
.quick-easy-card-img4{
    width: 98px;
    height: 98px;
    overflow: hidden;
    border: 3px solid #035B81;
    border-radius: 50%;
    margin-right: 15px;
}
.button2{
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.content-strategies{
    margin-top: 180px;
}
.content{
    margin-left: 145px;
    margin-right: 145px;
}
.content-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 8px;
    color: #22343D;
}
.content-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: #22343D;
    margin-bottom: 35px;
}
.content-cards{
    display: flex;
    padding: -5px;
    margin-bottom: 65px;
}
.content-card{
    width: 348px;
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
    margin: 5px;
}
.content-card-img{
    left: 0;
    top: 0;
    width: 100%;
}
.content-card-description{
    display: flex;
    margin-left: 24px;
}
.content-card-description-normal{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    margin-right: 5px;
}
.content-card-description-bold{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
    margin-right: 5px;
}
.content-card-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    margin-left: 24px;
    width: 250px;
}
.card2-heading{
    color: #02897A;
}
.menu{
    justify-content: center;
    display: flex;
    padding: -10px;
}
.menu-choce{
    background: #EFEFEF;
    border-radius: 50%;
    margin: 10px;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}
.menu-choce-now{
    background: #02897A;
    border-radius: 50%;
    cursor: pointer;
}
.price-table{
    margin-top: 150px;
}
.price-heading{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 8px;
    color: #22343D;
}
.price-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 8px;
    color: #22343D;
    text-align: center;
}
.price-cards{
    margin-right: 145px;
    margin-left: 145px;
    margin-top: 50px;
    display: flex;
    padding: -35px;
}
.price-card{
    width: 323px;
    background: #FFFFFF;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    margin: 35px;
}
.price-card-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 8px;
    color: #22343D;
    margin-top: 25px;
}
.price-card-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 8px;
    color: #22343D;
}
.price-card-cost{
    display: flex;
    align-items: center;
    justify-content: center;
}
.price-card-cost-numb{
    font-style: normal;
    font-weight: bold;
    font-size: 76px;
    line-height: 8px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
    margin-right: 8px;
}
.price-card-cost-per-month-doll{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 4px;
    text-align: left;
    color: #02897A;
}
.price-card-cost-per-month-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 4px;
    color: #AFAFAF;
}
.price-card-description2{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #22343D;
}
.order-button{
    border: none;
    background: #02897A;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 11px 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
}
.card2{
    background: #02897A;
}
.heading2{
    color: #FFFFFF;
}
.order-button2{
    background: #FFFFFF;
    color: #02897A;
}
.clients-say{
    margin-bottom: 150px;
}
.clients-heading{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 8px;
    letter-spacing: 0.2px;
    color: #22343D;
    text-align: center;
    margin-top: 150px;
}
.clients-description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #22343D;
}
.clients-cards{
    margin-left: 145px;
    margin-right: 145px;
    display: flex;
    margin-top: 50px;
    padding: -35px;
}
.clients-card{
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    width: 325px;
    padding: 25px;
    margin: 35px;
}
.stars{
    display: flex;
    padding: -4px;
}
.star{
    margin: 4px;
}
.clients-card-description{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}
.clients-people-card{
    display: flex;
    align-items: center;
}
.people-img{
    border: 1px solid #BDBDBD;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.people-card-img{
    left: 0;
    top: 0;
    height: 100%;
}
.people-text{
    margin-left: 14px;
}
.people-text-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 0;
    letter-spacing: 0.2px;
    color: #02897A;
}
.people-text-description{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 0;
    color: #252B42;
}
.slide-footer{
    width: 970px;
    background: #02897A;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}
.slide-footer-text{
}
.slide-footer-heading{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}
.slide-footer-button{
    background: #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
    padding: 10px 30px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}
.footer{
    margin-top: 150px;
    display: flex;
}
.footer-logo{
    margin-left: 145px;
}
.social-links{
    padding: -15px;
    display: flex;
    margin-left: 130px;
}
.social-link-rectangle{
    background: #EDFFFC;
    border-radius: 50%;
    margin: 15px;
    padding: 8px;
    width: 40px;
    height: 40px;
}
.social-link{

}
.resource{
    margin-left: 160px;
}
.resource-heading{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 8px;
    color: #22343D;
    margin-left: 40px;
}
.resourses{
    list-style-type: none;
    margin-bottom: 85px;
}
.resourse-li{
}
.resourse-a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 35px;
    color: #22343D;
}
.stuff{
    margin-left: 130px;
}
.form-sign-now{
    margin-left: 90px;
    margin-right: 140px;
}
.form-heading{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}
.form-input{
    margin-top: 35px;
    display: block;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    border: none;
    width: 100%;
    height: 30px;
}
.form-button{
    background: #02897A;
    border-radius: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 15px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .container{
        max-width: 1024px;
    }
    .clients-cards{
        margin-left: 0;
        margin-right: 0;
    }
    .clients-card{
    }
    .resource{
        margin-left: 20px;
    }
    .stuff{
        margin-left: 20px;
    }
    .customer-img{
        margin-left: 0;
    }
    .manegement-text{
        margin-left: 0;
    }
    .slide-text{
        margin-left: 0;
    }
    .slide{
        justify-content: space-between;
    }
    .slide-img{
        margin-right: 0;
    }
    .management-img{
        margin-right: 0;
    }
    .resource-heading{
        line-height: 20px;
    }
    .header{
        padding: 0;
    }
    .price-cards{
        margin-left: 0;
        margin-right: 0;
    }
    .content{
        margin-right: 0;
        margin-left: 0;
    }
    .form-sign-now{
        margin-right: 0;
    }
    .footer-logo{
        margin-left: 0;
    }
    .social-links{
        margin-left: 0;
    }
    .footer{
        justify-content: space-between;
    }
}

@media (max-width: 1050px) {
    .container{
        max-width: 570px;
    }
    .specifiety-cards{
        flex-wrap: wrap;
    }
    .specifiety-card{
        margin-right: auto;
        margin-left: auto;
    }
    .content-cards{
        flex-wrap: wrap;
    }
    .content-card{
        margin-left: auto;
        margin-right: auto;
    }
    .price-cards{
        flex-wrap: wrap;
    }
    .price-card{
        margin-right: auto;
        margin-left: auto;
    }
    .clients-cards{
        flex-wrap: wrap;
    }
    .clients-card{
        margin-left: auto;
        margin-right: auto;
    }
}